{% extends 'base.html' %}
{% block content %}
<h1 class="text-3xl font-semibold mb-6">Associações</h1>

<a href="/Clientes_Veiculos/create" class="bg-blue-500 text-white px-6 py-3 rounded-lg mb-6 inline-block hover:bg-blue-600 transition duration-300">Nova Associação</a>

<div class="overflow-x-auto">
    <table class="min-w-full table-auto border-separate border-spacing-0">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="px-4 py-2 text-left text-sm font-medium">ID</th>
                <th class="px-4 py-2 text-left text-sm font-medium">Cliente</th>
                <th class="px-4 py-2 text-left text-sm font-medium">Veículo</th>
                <th class="px-4 py-2 text-left text-sm font-medium">Status</th>
                <th class="px-4 py-2 text-left text-sm font-medium">Data</th>
                <th class="px-4 py-2 text-left text-sm font-medium">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for associacao in Clientes_Veiculos %}
            <tr class="border-t border-gray-200">
                <td cl
