<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Flask</title>
    <!-- Tailwind CSS -->
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <!-- CSS Custom -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="bg-gray-100 text-gray-800">
    <!-- Navbar -->
    <nav class="bg-orange-500 shadow-lg">
        <div class="container mx-auto px-4 py-3 flex items-center justify-between">
            <!-- Logo -->
            <a href="/" class="flex items-center">
                <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" class="h-12 w-12 mr-2 rounded-full">
                <span class="text-white text-xl font-bold">Consult Cars</span>
            </a>
            <!-- Menu -->
            <ul class="flex space-x-6">
                <li><a href="/clientes" class="text-white hover:underline">Clientes</a></li>
                <li><a href="/veiculos" class="text-white hover:underline">Veículos</a></li>
                <li><a href="/cliente_veiculos" class="text-white hover:underline">Associações</a></li>
                <li><a href="{{ url_for('importar_dados') }}" class="text-white hover:underline">Importar Dados</a></li>
                <li><a href="{{ url_for('exportar_dados') }}" class="text-white hover:underline">Exportar Dados</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-8">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded mb-4">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
