{% extends 'base.html' %}
{% block content %}
<h1>Veículos</h1>
<a href="/veiculos/create" class="btn btn-primary mb-3">Novo Veículo</a>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for veiculo in veiculos %}
        <tr>
            <td>{{ veiculo[0] }}</td>  <!-- id -->
            <td>{{ veiculo[1] }}</td>  <!-- marca -->
            <td>{{ veiculo[2] }}</td>  <!-- modelo -->
            <td>{{ veiculo[3] }}</td>  <!-- ano -->
            <td>{{ veiculo[4] }}</td>  <!-- cor -->
            <td>{{ veiculo[5] }}</td>  <!-- preço -->
            <td>
                {% if veiculo.foto_url %}
                <img src="{{ url_for('static', filename='images/' + veiculo.foto_url) }}" alt="Foto do Veículo">
                {% else %}
                    <span>Sem Foto</span>
                {% endif %}
            
            </td>
            <td>
                <a href="{{ url_for('editar_veiculo', veiculo_id=veiculo[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{{ url_for('deletar_veiculo', veiculo_id=veiculo[0]) }}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
